/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
body, html
{



margin:auto;
border-style:solid;
border-width:1px;
border-color:#F4F9DB;

}


a{
    display: none;
}

li a{
    display: block;
}

#menu li:hover{
 
    background-color:#9c9084;
    
}


.active{
background-color: #eae7d2 !important;
}
.active a{
color: #9e8076 !important;
}

#topbar{ 
    background-color: #51473d;   
    height: 16px;
    padding-right: 2px;
    font-family: verdana;
    color: #fff;
    font-style: italic;
    font-size:11px;
    
   
    width:600px;
   
    background-repeat:no-repeat;
    background-size: 650px 300px;
   
    margin: 0px;
    text-align: right;
    
    }
    



#menu ul .active {
    background-color: #eae7d2;
}

#menu ul .active a{
    color: #797066;
}

#menu{
     background-image: url(pics/coffey.jpg);
     background-size: 600px 232px;
     background-repeat: no-repeat;
     height:267px;
     background-color: #51473d;
     width:600px;
     margin-top:-16px;
     
}

#menu ul {
    list-style-type:none;
    margin-left:-28px;
    padding-top: 34px;
    
}

#menu ul li{
    float:left;
    margin-top: 203px;
    margin-right: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #797066;
    text-align: center;
    height: 30px;
    padding-bottom:0px;
    font-size: 19px;
    
}



#menu ul li a{
    color: #eae7d2;
    display:block;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Verdana";
    font-size: 14px;
    padding-top:7px;
    padding-bottom:5px;
    padding-left:19px;
    padding-right:16px;
   
}

#maincontent p{
    margin-top: 15px;
    font-family: verdana;
    font-size: 14px;
    font-weight: 200px;
    line-height: 22px;
    color: #797066;
}

#maincontent img{
    float: left;
    padding-right: 8px;
    
}

#content #maincontent h1{
    font-family: "Times New Roman";
    color: #797066;
    font-weight: 100;
    font-size: 38;
}

#maincontent{
    background-color: #eae7d2;
    padding-top: 5px;
    width: 300px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

#subcontent{
    background-color: #eae7d2;
    width: 268px;
    float: left;
    margin-top: 21px;
    border-left: dashed 1px #c0c0c0;
    padding-left: 10px;
    height: 397px;
}

#subcontent h1{
    font-family: "Times New Roman";
    font-size: 19px;
    font-weight: 100;
    margin-bottom: 24px;
    color: #797066;
}

#subcontent p{
    margin-top: 18px;
    font-family: verdana;
    font-size: 11px;
    font-weight: 200;
    line-height: 22px;
    color: #797066;
    
}

#content{
    background-color: #eae7d2;
    width: 600px;
    
    }
    
#bottomcontent{
    clear: both;
    font-family: verdana;
    padding-bottom: 11px;
    font-style: italic;
    color: #797066;
}

#subcontent h2{
    font-weight: 100;
    font-size: 15px;
    margin-top: 67px;
    margin-bottom: -11px;
}
    

#bottomcontent{
    clear: both;
    font-family: verdana;
    padding-bottom: 11px;
    padding-left: 14px;
    font-size: 11px;
    font-style: italic;
    color: #797066;
    
}


#subcontent ul{
    list-style-type: none;
    
}

#subcontent ul li{
    margin-left: -40px;
    
}

#subcontent ul li a{
    color: #51473d;
    font-family: verdana;
    font-size: 14px;
    line-height: 22px;
}

